#root, html {
  width: 100%;
  padding: 0;
  margin: 0;
  position:relative;
  /* left: 20; */
  background-color: #252525;
  scroll-behavior: smooth;
}




/* NAVBAR */
.nav{
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  position: sticky;
}
.nav-bar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 40px;
  padding-right: 40px;
}

#nav-link {
  text-decoration: none;
  color: white;
}

.nav-bar-small {
  display: none;
}

/* Home */
.intro-box{
  display: flex;
  box-sizing: content-box;
  background-color: gray;
  height: 50vh;
  width: 70vw;
  margin: auto;
  margin-top: 20vh;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-weight: 500;
}

.title-name {
  margin: 0;
  padding: 0;
  color: white;
}

span {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_words 6s infinite;
}